In [1]:
import os
import pandas as pd
cwd = os.getcwd()
cwd

'E:\\backtrader\\scripts'

In [5]:
data_path = r"E:\backtrader\CSMAR\周个股回报率文件\周个股回报率文件\weekly_return.csv"
df = pd.read_csv(data_path,encoding='utf-8')
df

          Stkcd   Trdwnt  Wclsprc  Ndaytrd    Wretwd    Wretnd
0             1  1991-14   48.280        4       NaN       NaN
1             1  1991-15   46.840        5 -0.029826 -0.029826
2             1  1991-16   45.460        5 -0.029462 -0.029462
3             1  1991-17   44.340        4 -0.024637 -0.024637
4             1  1991-18   43.020        5 -0.029770  0.365088
...         ...      ...      ...      ...       ...       ...
3190023  900957  2023-38    0.379        5 -0.013021 -0.013021
3190024  900957  2023-39    0.401        4  0.058047  0.058047
3190025  900957  2023-41    0.387        5 -0.034915 -0.034913
3190026  900957  2023-42    0.354        5 -0.085270 -0.085271
3190027  900957  2023-43    0.370        5  0.045194  0.045198

[3190028 rows x 6 columns]