In [57]:
import pandas as pd
import os
import tqdm
cwd = os.getcwd()
cwd

'E:\\backtrader\\backtrader\\scripts'

In [58]:
data_path = os.path.join(cwd, "..", "..","CSMAR", "日个股回报率文件", "日个股回报率文件", "daily_return.csv")

In [59]:
df = pd.read_csv(data_path)
df.head()

   id        date  daily_return_divident  daily_return  pre_close_price
0   1  2018-11-01              -0.007333     -0.007333            10.91
1   1  2018-11-02               0.024007      0.024007            10.83
2   1  2018-11-05              -0.015329     -0.015329            11.09
3   1  2018-11-06              -0.007326     -0.007326            10.92
4   1  2018-11-07              -0.002768     -0.002768            10.84

In [60]:
for column in df.columns:
    print(df[column].dtype)

int64
object
float64
float64
float64

In [61]:
df['date'] = pd.to_datetime(df['date'])

In [62]:
time_intervals = df[df['id'] == 1]['date'].count()
print("交易天数：",time_intervals)
print("证券数：",df['id'].nunique())
df[['date', 'id']].describe()

交易天数： 1213
证券数： 5536

                                date            id
count                        5366789  5.366789e+06
mean   2021-07-07 18:50:44.922839808  3.468228e+05
min              2018-11-01 00:00:00  1.000000e+00
25%              2020-04-22 00:00:00  2.648000e+03
50%              2021-08-11 00:00:00  3.007490e+05
75%              2022-10-12 00:00:00  6.011630e+05
max              2023-10-31 00:00:00  9.009570e+05
std                              NaN  2.763127e+05

In [63]:
time_index = df.loc[df['id'] == 1]['date']
time_index

0      2018-11-01
1      2018-11-02
2      2018-11-05
3      2018-11-06
4      2018-11-07
          ...
1208   2023-10-25
1209   2023-10-26
1210   2023-10-27
1211   2023-10-30
1212   2023-10-31
Name: date, Length: 1213, dtype: datetime64[ns]

In [64]:
df_ts = df.groupby('id')['date']
df_ts_stock = pd.DataFrame(time_index)
df_ts_stock

           date
0    2018-11-01
1    2018-11-02
2    2018-11-05
3    2018-11-06
4    2018-11-07
...         ...
1208 2023-10-25
1209 2023-10-26
1210 2023-10-27
1211 2023-10-30
1212 2023-10-31

[1213 rows x 1 columns]

In [65]:
for k, v in tqdm.tqdm(df_ts.groups.items()):
    df_ts_stock = pd.merge(df_ts_stock, df.iloc[v][['date','daily_return']], on='date', how='left', suffixes=("", f"_{k}"))
df_ts_stock

100%|██████████| 5536/5536 [02:02<00:00, 45.27it/s]

,date,daily_return,daily_return_2,daily_return_4,daily_return_5,daily_return_6,daily_return_7,daily_return_8,daily_return_9,daily_return_10,...,daily_return_900945,daily_return_900946,daily_return_900947,daily_return_900948,daily_return_900951,daily_return_900952,daily_return_900953,daily_return_900955,daily_return_900956,daily_return_900957
0,2018-11-01,-0.007333,0.007842,-0.002574,-0.007326,-0.005917,-0.012414,-0.013605,0.002488,-0.009132,...,-0.003021,0.006803,0.005780,-0.010943,0.012500,-0.008646,0.000000,0.000000,-0.010000,-0.007974
1,2018-11-02,0.024007,0.008190,0.016774,0.018450,0.019841,0.001397,0.004598,0.027295,0.009217,...,0.018182,0.016892,0.020115,0.016170,0.019753,0.008721,0.015326,0.009615,0.017677,0.019293
2,2018-11-05,-0.015329,-0.023558,0.034898,0.018116,-0.001946,0.065551,0.034325,0.036232,0.004566,...,0.002976,0.000000,-0.011268,-0.008375,-0.002421,0.002882,0.005660,0.015873,-0.007444,-0.006309
3,2018-11-06,-0.007326,0.004160,-0.003066,0.003559,-0.001949,-0.079843,-0.019912,0.027972,-0.013636,...,-0.014837,-0.006645,0.002849,-0.003378,-0.029126,0.011494,-0.037523,-0.012500,-0.015000,-0.025397
4,2018-11-07,-0.002768,-0.012013,-0.008610,-0.010638,-0.007813,0.000000,NaN,-0.022676,0.002304,...,-0.003012,-0.003344,-0.011364,-0.001695,0.002500,0.002841,-0.005848,-0.009494,-0.010152,-0.006515
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1208,2023-10-25,-0.016114,0.003431,0.001757,0.014184,0.014052,-0.034137,0.017241,0.000000,0.012690,...,0.000000,0.006135,0.005025,0.017126,NaN,0.020619,0.003289,NaN,NaN,0.017143
1209,2023-10-26,0.002890,-0.011111,0.008772,-0.020979,-0.011547,-0.027027,-0.004237,-0.002988,0.017544,...,0.005650,-0.006098,0.000000,-0.008785,NaN,-0.005051,0.013115,NaN,NaN,0.022472
1210,2023-10-27,0.003842,0.005186,-0.035362,0.014286,0.009346,0.027778,0.004255,0.024975,-0.032020,...,0.022472,0.018405,0.020000,0.005908,NaN,0.005076,0.016181,NaN,NaN,0.016484
1211,2023-10-30,0.000000,-0.002580,0.020433,-0.007042,0.000000,0.014553,0.000000,0.010721,0.000000,...,0.000000,0.018072,0.000000,-0.001468,NaN,-0.005051,0.038217,NaN,NaN,0.062162
1212,2023-10-31,0.000957,-0.023276,0.021790,0.007092,0.000000,0.028689,0.000000,-0.003857,0.043257,...,0.000000,0.000000,-0.009804,0.008824,NaN,-0.035533,0.000000,NaN,NaN,0.015267

In [70]:
df_ts_stock.rename(columns={'daily_return': 'daily_return_1'}, inplace=True)
df_ts_stock

,date,daily_return_1,daily_return_2,daily_return_4,daily_return_5,daily_return_6,daily_return_7,daily_return_8,daily_return_9,daily_return_10,...,daily_return_900945,daily_return_900946,daily_return_900947,daily_return_900948,daily_return_900951,daily_return_900952,daily_return_900953,daily_return_900955,daily_return_900956,daily_return_900957
0,2018-11-01,-0.007333,0.007842,-0.002574,-0.007326,-0.005917,-0.012414,-0.013605,0.002488,-0.009132,...,-0.003021,0.006803,0.005780,-0.010943,0.012500,-0.008646,0.000000,0.000000,-0.010000,-0.007974
1,2018-11-02,0.024007,0.008190,0.016774,0.018450,0.019841,0.001397,0.004598,0.027295,0.009217,...,0.018182,0.016892,0.020115,0.016170,0.019753,0.008721,0.015326,0.009615,0.017677,0.019293
2,2018-11-05,-0.015329,-0.023558,0.034898,0.018116,-0.001946,0.065551,0.034325,0.036232,0.004566,...,0.002976,0.000000,-0.011268,-0.008375,-0.002421,0.002882,0.005660,0.015873,-0.007444,-0.006309
3,2018-11-06,-0.007326,0.004160,-0.003066,0.003559,-0.001949,-0.079843,-0.019912,0.027972,-0.013636,...,-0.014837,-0.006645,0.002849,-0.003378,-0.029126,0.011494,-0.037523,-0.012500,-0.015000,-0.025397
4,2018-11-07,-0.002768,-0.012013,-0.008610,-0.010638,-0.007813,0.000000,NaN,-0.022676,0.002304,...,-0.003012,-0.003344,-0.011364,-0.001695,0.002500,0.002841,-0.005848,-0.009494,-0.010152,-0.006515
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1208,2023-10-25,-0.016114,0.003431,0.001757,0.014184,0.014052,-0.034137,0.017241,0.000000,0.012690,...,0.000000,0.006135,0.005025,0.017126,NaN,0.020619,0.003289,NaN,NaN,0.017143
1209,2023-10-26,0.002890,-0.011111,0.008772,-0.020979,-0.011547,-0.027027,-0.004237,-0.002988,0.017544,...,0.005650,-0.006098,0.000000,-0.008785,NaN,-0.005051,0.013115,NaN,NaN,0.022472
1210,2023-10-27,0.003842,0.005186,-0.035362,0.014286,0.009346,0.027778,0.004255,0.024975,-0.032020,...,0.022472,0.018405,0.020000,0.005908,NaN,0.005076,0.016181,NaN,NaN,0.016484
1211,2023-10-30,0.000000,-0.002580,0.020433,-0.007042,0.000000,0.014553,0.000000,0.010721,0.000000,...,0.000000,0.018072,0.000000,-0.001468,NaN,-0.005051,0.038217,NaN,NaN,0.062162
1212,2023-10-31,0.000957,-0.023276,0.021790,0.007092,0.000000,0.028689,0.000000,-0.003857,0.043257,...,0.000000,0.000000,-0.009804,0.008824,NaN,-0.035533,0.000000,NaN,NaN,0.015267

In [81]:
df_cov = df_ts_stock.select_dtypes(include='number')

In [83]:
cov_matrix = df_cov.cov()

In [84]:
cov_matrix

,daily_return_1,daily_return_2,daily_return_4,daily_return_5,daily_return_6,daily_return_7,daily_return_8,daily_return_9,daily_return_10,daily_return_11,...,daily_return_900945,daily_return_900946,daily_return_900947,daily_return_900948,daily_return_900951,daily_return_900952,daily_return_900953,daily_return_900955,daily_return_900956,daily_return_900957
daily_return_1,0.000427,0.000247,0.000080,0.000074,0.000148,0.000045,0.000118,0.000101,0.000080,0.000158,...,0.000097,0.000092,0.000094,0.000131,0.000094,0.000092,0.000112,0.000100,0.000110,0.000110
daily_return_2,0.000247,0.000462,0.000047,0.000092,0.000241,0.000073,0.000119,0.000087,0.000073,0.000253,...,0.000080,0.000061,0.000096,0.000115,0.000076,0.000084,0.000111,0.000119,0.000087,0.000098
daily_return_4,0.000080,0.000047,0.001237,0.000189,0.000131,0.000145,0.000165,0.000248,0.000076,0.000173,...,0.000093,0.000099,0.000071,0.000075,0.000082,0.000087,0.000121,0.000131,0.000158,0.000119
daily_return_5,0.000074,0.000092,0.000189,0.000515,0.000195,0.000160,0.000172,0.000209,0.000167,0.000220,...,0.000125,0.000113,0.000096,0.000102,0.000102,0.000098,0.000121,0.000152,0.000153,0.000115
daily_return_6,0.000148,0.000241,0.000131,0.000195,0.000610,0.000122,0.000169,0.000196,0.000159,0.000477,...,0.000097,0.000122,0.000116,0.000122,0.000125,0.000109,0.000144,0.000174,0.000178,0.000134
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
daily_return_900952,0.000092,0.000084,0.000087,0.000098,0.000109,0.000045,0.000097,0.000124,0.000095,0.000106,...,0.000105,0.000093,0.000117,0.000127,0.000108,0.000238,0.000133,0.000131,0.000140,0.000139
daily_return_900953,0.000112,0.000111,0.000121,0.000121,0.000144,0.000072,0.000134,0.000207,0.000105,0.000143,...,0.000122,0.000141,0.000141,0.000176,0.000214,0.000133,0.000567,0.000166,0.000241,0.000356
daily_return_900955,0.000100,0.000119,0.000131,0.000152,0.000174,0.000135,0.000140,0.000100,0.000111,0.000193,...,0.000255,0.000140,0.000124,0.000112,0.000127,0.000131,0.000166,0.001397,0.000211,0.000122
daily_return_900956,0.000110,0.000087,0.000158,0.000153,0.000178,0.000095,0.000140,0.000208,0.000125,0.000210,...,0.000160,0.000140,0.000130,0.000126,0.000029,0.000140,0.000241,0.000211,0.000514,0.000267
daily_return_900957,0.000110,0.000098,0.000119,0.000115,0.000134,0.000069,0.000121,0.000199,0.000118,0.000136,...,0.000119,0.000132,0.000142,0.000166,0.000199,0.000139,0.000356,0.000122,0.000267,0.000427

In [87]:
mean_vector = df_cov.mean()

In [ ]:
rf = 0.03/365